#root {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.tooltip {
	background-color: black;
	color: white;
	padding: 8px 16px;
	border-radius: 6px;
	font-size: 16px;
	white-space: nowrap; /* Prevent breaks */
	text-align: center; /* Center text horizontally */
}

